In [1]:
# Here we'll load in the libraries we'll use to shape and explore the data
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# load data

In [2]:
orig_df=pd.read_csv('/Users/sayo/Documents/Projects/Repos/Data 511/data/robot-ai-all-public.csv')
orig_df.head(5)

,Article ID,Article Date,Paragraph number,NYT section,Paragraph,Title,WorkTimeInSeconds,AI Mood,AI Relevance,Fiction,...,Other (negative),Cyborg (positive),Decisions (positive),Education (positive),Entertain (positive),Healthcare (positive),Singularity (positive),Transportation (positive),Work (positive),Other (positive)
0,4fd1cbc98eb7c8105d701286,1996-10-06 00:00:00 UTC,18,New York and Region,"Thus, next weekend will feature the robot who ...",LONG ISLAND JOURNAL,1472,4,5,0,...,{},0,0,0,0,0,0,0,0,{}
1,4fd1cbc98eb7c8105d701286,1996-10-06 00:00:00 UTC,18,New York and Region,"Thus, next weekend will feature the robot who ...",LONG ISLAND JOURNAL,49,4,5,0,...,{},0,0,0,0,0,0,0,0,{}
2,4fd1cbc98eb7c8105d701286,1996-10-06 00:00:00 UTC,18,New York and Region,"Thus, next weekend will feature the robot who ...",LONG ISLAND JOURNAL,66,5,5,0,...,{},0,0,0,1,0,0,0,0,{}
3,54b0793b7988100e21965770,2006-07-31 00:00:00 UTC,16,Technology,That phrase was coined in the 1970۪s by Masahi...,Camera System Creates Sophisticated 3-D Effects,3053,3,4,0,...,{},0,0,0,0,0,0,0,0,{}
4,54b0793b7988100e21965770,2006-07-31 00:00:00 UTC,16,Technology,That phrase was coined in the 1970۪s by Masahi...,Camera System Creates Sophisticated 3-D Effects,25,3,4,0,...,{},0,0,0,0,0,0,0,0,{}

In [4]:
print('columns in dataset',orig_df.columns)

print('Shape of dataset',orig_df.shape)

columns in dataset Index(['Article ID', 'Article Date', 'Paragraph number', 'NYT section',
       'Paragraph', 'Title', 'WorkTimeInSeconds', 'AI Mood', 'AI Relevance',
       'Fiction', 'Controling AI (negative)', 'Cyborg (negative)',
       'Ethics (negative)', 'Military (negative)', 'Progress (negative)',
       'Singularity (negative)', 'Work (negative)', 'Other (negative)',
       'Cyborg (positive)', 'Decisions (positive)', 'Education (positive)',
       'Entertain (positive)', 'Healthcare (positive)',
       'Singularity (positive)', 'Transportation (positive)',
       'Work (positive)', 'Other (positive)'],
      dtype='object')
Shape of dataset (17073, 27)

In [24]:
# How many distinct Article IDs in the original dataset?
orig_df['Article ID'].nunique()

3367

In [25]:
# How many distinct Article IDs+Title combination  in the original dataset?
orig_df[['Article ID','Title']].nunique()

Article ID    3367
Title         3199
dtype: int64

## Pivoting sentiment types

In [5]:
df_pivot = pd.melt(orig_df,id_vars=['Article ID', 'Article Date', 'Paragraph number', 'NYT section',
       'Paragraph', 'Title','AI Mood', 'AI Relevance'], value_vars=['Controling AI (negative)', 'Cyborg (negative)',
       'Ethics (negative)', 'Military (negative)', 'Progress (negative)',
       'Singularity (negative)', 'Work (negative)',
       'Cyborg (positive)', 'Decisions (positive)', 'Education (positive)',
       'Entertain (positive)', 'Healthcare (positive)',
       'Singularity (positive)', 'Transportation (positive)',
       'Work (positive)'],var_name='Sentiment_Type', value_name='Applicability_flag')

In [20]:
df_pivot.shape

(256095, 10)

In [18]:
df_pivot[(df_pivot['Article ID']=='4fd1cbc98eb7c8105d701286') & (df_pivot['Applicability_flag']==1)]

,Article ID,Article Date,Paragraph number,NYT section,Paragraph,Title,AI Mood,AI Relevance,Sentiment_Type,Applicability_flag
170732,4fd1cbc98eb7c8105d701286,1996-10-06 00:00:00 UTC,18,New York and Region,"Thus, next weekend will feature the robot who ...",LONG ISLAND JOURNAL,5,5,Entertain (positive),1

In [28]:
# Distinct count of Article IDs per Applicability Flag
df_pivot.groupby('Applicability_flag')['Article ID'].nunique()

Applicability_flag
0    3367
1    1893
Name: Article ID, dtype: int64

In [19]:
df_pivot_filtered=df_pivot[df_pivot['Applicability_flag']==1]

,Article ID,Article Date,Paragraph number,NYT section,Paragraph,Title,AI Mood,AI Relevance,Sentiment_Type,Applicability_flag
30,4fd1be788eb7c8105d6ebb1c,1994-07-30 00:00:00 UTC,8,U.S.,Dante stands 10 feet tall with its arched sens...,Robot Explorer Starts Trek to Volcano's Heart,3,3,Controling AI (negative),1
41,5420b1217988104c4a501718,2010-11-21 00:00:00 UTC,8,Movies,It is the honest working girl Maria (Brigitte ...,It۪s Overlords vs. Lower Depths in a Future City,5,5,Controling AI (negative),1
58,5229052d79881007d5915c1a,2013-09-06 00:00:00 UTC,40,Movies,"The World۪s End۪ (R, 1:49) In the third instal...",Movie Listings for Sept. 6-12,2,3,Controling AI (negative),1
59,5229052d79881007d5915c1a,2013-09-06 00:00:00 UTC,40,Movies,"The World۪s End۪ (R, 1:49) In the third instal...",Movie Listings for Sept. 6-12,2,5,Controling AI (negative),1
67,4fd215268eb7c8105d78e11e,2001-05-03 00:00:00 UTC,9,Technology; Movies,After visiting the Web site of Dr. Salla's uni...,Tracking an Elusive Film Game Online,2,4,Controling AI (negative),1
...,...,...,...,...,...,...,...,...,...,...
255746,553e18927988102282b11af9,2015-04-27 07:05:45 UTC,27,Opinion,A philosophical thought experiment might help ...,Reclaiming the Power of Play,4,5,Work (positive),1
256046,56694b0d79881013355b1c3b,2015-12-10 00:00:00 UTC,9,Opinion,A team of researchers from Google announced a ...,The End of Work?,3,5,Work (positive),1
256047,56694b0d79881013355b1c3b,2015-12-10 00:00:00 UTC,10,Opinion,"As the technology improves, we are giving AI s...",The End of Work?,4,5,Work (positive),1
256048,56694b0d79881013355b1c3b,2015-12-10 00:00:00 UTC,10,Opinion,"As the technology improves, we are giving AI s...",The End of Work?,5,5,Work (positive),1
256053,56694b0d79881013355b1c3b,2015-12-10 00:00:00 UTC,11,Opinion,It’s true that some sectors may experience a s...,The End of Work?,3,5,Work (positive),1

In [26]:
# How many distinct Article IDs+Title combination  in the pivoted and filtered dataset?
df_pivot_filtered[['Article ID','Title']].nunique()

Article ID    1893
Title         1822
dtype: int64

## Export this dataset to CSV for dashboard usage

In [ ]:
df_pivot_filtered.to_csv('/Users/sayo/Documents/Projects/Repos/Data 511/data/ai_dataset_pivoted.csv')